/**
 * WordPoints styles for points hooks administration screen.
 *
 * @package WordPoints\Points\Administration
 * @since 1.0.0
 */

.js .points-type-name,
.js .hook.points-settings .hook-top {
	cursor: pointer;
}

.hook-control-actions .delete {
	margin-right: 5px;
}

.wordpoints-points-add-new.hooks-sortables {
	padding: 10px !important;
	width: inherit !important;
}

.wordpoints-points-add-new .hook-control-close {
	display: none;
}

hr.points-hooks-settings-separator	{
	width: 80%;
	background-color: #eee;
	border-top: 1px solid #fff;
	margin: -5px auto 15px;
}

.wordpoints-no-hooks {
	margin: 30px 0 0 20px;
}

.wordpoints-points-slug {
	color: #777;
}

.js .points-type-name-arrow {
	background: url("../images/arrows.png") no-repeat scroll 5px 9px transparent;
}

.points-type-name-arrow {
	float: right;
	height: 29px;
	width: 26px;
}

div.points-type-name {
	font-size: 13px;
	border-width: 1px;
	border-style: solid;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.points-type-name {
	color: #464646;
	text-shadow: 0 1px 0 #fff;
	border-color: #dfdfdf;
	box-shadow: 0 1px 0 #fff inset;
}
div.hook-liquid-left {
	float: left;
	clear: left;
	width: 100%;
	margin-right: -325px;
}

div#hooks-left {
	margin-left: 5px;
	margin-right: 325px;
}

#hooks-left #available-hooks {
	background-color: transparent;
	border: 0 none;
}

div.hooks-holder-wrap {
	padding: 0;
	margin: 10px 0 20px;
}

.js .points-type-name:hover,
.js #removing-hook {
	color: #000;
}

.js .points-type-name:hover .points-type-name-arrow {
    background: url("../images/arrows-dark.png") no-repeat scroll 5px 9px transparent;
}

#removing-hook {
	display: none;
	font-weight: normal;
	padding-left: 15px;
	font-size: 12px;
	line-height: 1;
}

div.hooks-sortables,
#hooks-left .inactive,
#available-hooks .hook-holder {
	background-color: #fcfcfc;
	border-color: #dfdfdf;
}

#available-hooks .hook-holder {
	padding: 7px 5px 0;
}

.hook-liquid-right .hooks-sortables,
#hooks-left .hook-holder {
	border-width: 0 1px 1px;
	border-style: none solid solid;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.hook-liquid-right .hook,
.inactive-points-type .hook {
    width: 250px;
    margin: 0px auto 20px;
    overflow: hidden;
}

#available-hooks p.description {
	margin: 0 12px 12px;
}

#hook-list .hook {
	margin: 0 10px 15px;
	border: 0 none;
	background: none repeat scroll 0% 0% transparent;
	display: inline-block;
	vertical-align: top;
}

#available-hooks .hook {
	box-shadow: none;
}

.hook,
#hook-list .hook-top {
	background: linear-gradient(to top, #f5f5f5, #f9f9f9) repeat scroll 0% 0% #f5f5f5;
	border-color: #dfdfdf;
	box-shadow: 0 1px 0 #fff inset;
	border-radius: 3px 3px 3px 3px;
}

.hook {
	margin-bottom: 20px;
	padding: 0;
	border-width: 1px;
	border-style: solid;
	line-height: 1;
	width: 250px;
}

#hook-list .hook-top,
.edithook .hook-inside {
	border-radius: 3px 3px 3px 3px;
	border-width: 1px;
	border-style: solid;
}

.js .hook .hook-top,
.js .postbox h3 {
	cursor: move;
}

.hook .hook-top {
	color: #222;
	border-bottom-color: #dfdfdf;
	text-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	margin-bottom: -1px;
	font-size: 12px;
	font-weight: bold;
	height: 26px;
	overflow: hidden;
	margin-top: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	-moz-user-select: none;
}

.hook .hook-top,
.points-type-name {
	background: linear-gradient(to top, #ececec, #f9f9f9) repeat scroll 0% 0% #f1f1f1;
}

.hook-top .hook-title-action {
	float: right;
}

.hook-top a.hook-action {
	background: url("../images/arrows.png") no-repeat scroll 4px 6px transparent;
}

.hook-top a.hook-action:hover {
    background: url("../images/arrows-dark.png") no-repeat scroll 4px 6px transparent;
}

a.hook-action {
	display: block;
	width: 24px;
	height: 26px;
}

a.hook-control-edit {
	text-decoration: none;
}

.hook-control-edit {
	display: block;
	font-size: 12px;
	font-weight: normal;
	line-height: 26px;
	padding: 0 8px 0 0;
}

#available-hooks a.hook-action,
.hook-control-edit .add,
.hook-control-edit .edit {
	display: none;
}

.hook-top .hook-title {
	padding: 7px 9px;
}

.hook-title h4 {
	margin: 0;
	padding-bottom: 0.2em;
	line-height: 1;
	overflow: hidden;
	white-space: nowrap;
}

.hook-title .in-hook-title {
	font-size: 12px;
	white-space: nowrap;
}

.in-hook-title {
	color: #606060;
}

.hook .hook-inside,
.hook .hook-description {
	padding: 12px 12px 10px;
	font-size: 12px;
	line-height: 16px;
}

.hook-inside,
.hook-description {
	display: none;
}

.hook-control-actions {
	margin-top: 8px;
}

.hook-control-actions div.alignleft {
	margin-top: 6px;
}

.hook-control-actions a {
	text-decoration: none;
}

#available-hooks .hook-description {
	color: #555;
	display: block;
	padding: 5px 8px;
}

.hook .hook-inside,
.hook .hook-description {
	padding: 12px 12px 10px;
	font-size: 12px;
	line-height: 16px;
}

.inactive-points-type {
	padding: 5px 5px 0;
}

.inactive-points-type .hook,
.inactive-points-type .hook-placeholder {
    margin: 0px 10px 20px;
    display: inline-block;
}

div.points-type-name h3 {
	font-weight: normal;
	font-size: 15px;
	margin: 0;
	padding: 8px 10px;
	overflow: hidden;
	white-space: nowrap;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
}

.points-type-name .spinner {
	float: none;
	margin: 0 3px -3px;
}


.hook-placeholder {
	border-style: dashed;
	border-width: 1px;
	height: 27px;
	margin-bottom: 20px;
	width: 250px;
}

.hooks-sortables {
	min-height: 90px;
}

div.hook-liquid-right {
	float: right;
	clear: right;
	width: 300px;
}

div#hooks-right {
	width: 285px;
	margin: 0 auto;
}

.hook-liquid-right .hooks-sortables {
	padding: 15px 0 0;
}

.js .closed .hooks-sortables,
.js .closed .hook-holder {
	display: none;
}

.hook-liquid-right .hook-placeholder {
	margin: 0 auto 20px;
}

/*
 * Access mode.
 */

.wordpoints_hooks_access #wpbody-content .hook-title-action,
.wordpoints_hooks_access #wpbody-content .hook-control-edit,
.wordpoints_hooks_access .closed .hooks-sortables,
.wordpoints_hooks_access .closed .hook-holder,
.wordpoints_hooks_access .points-settings .hook-inside {
	display: block;
}

.hook-control-noform,
#access-off,
.wordpoints_hooks_access .hook-action,
.wordpoints_hooks_access .points-type-name-arrow,
.wordpoints_hooks_access #access-on,
.wordpoints_hooks_access .points-settings .hook-control-close,
.wordpoints_hooks_access .hook-holder .description {
	display: none;
}

.wordpoints_hooks_access .hook-holder,
.wordpoints_hooks_access #hook-list {
	padding-top: 10px;
}

.wordpoints_hooks_access #available-hooks .hook-control-edit .add,
.wordpoints_hooks_access #hooks-right .hook-control-edit .edit,
.wordpoints_hooks_access .inactive-points-type .hook-control-edit .edit,
.wordpoints_hooks_access #access-off {
	display: inline;
}

.wordpoints_hooks_access .closed .points-type-name {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

.wordpoints_hooks_access .points-type-name,
.wordpoints_hooks_access .hook .hook-top,
.wordpoints_hooks_access .hook.points-settings .hook-top {
	cursor: default;
}

.edithook {
    margin: 0px auto 15px;
}

.edithook .hook-inside {
    border-color: rgb(223, 223, 223);
}
.edithook .hook-inside {
    display: block;
    padding: 10px;
}
